*

!.gitignore
!Makefile
!src/
!inc/
!inc/tivaware
!lib/
!sim/
!misc/
!pcb/
!Python_Algo/
!**/*.c
!**/*.s
!**/*.h
!**/*.md
!**/*.ld
!**/*.gdb
!**/*.rules

*.uvprojx

!**/*.kicad
!**/*.pro
!**/*.sch
!**/*.brd
!**/*.lib
!**/*.mod
