*
!*/
!.gitignore
!Makefile
!src/
!inc/
!inc/tivaware
!lib/
!sim/
!misc/
!pcb/
!CCS/**
!CCS/mm/
!**/*.c
!**/*.st 
!**/*.h
!**/*.md
!**/*.ld
!**/*.gdb
!**/*.rules

*.uvprojx

!**/*.kicad
!**/*.pro
!**/*.sch
!**/*.brd
!**/*.lib
!**/*.mod
