*

!.gitignore
!Makefile
!src/
!inc/
!inc/tivaware
!lib/
!sim/
!misc/
!pcb/**
!**/*.c
!**/*.s
!**/*.h
!**/*.md
!**/*.ld
!**/*.gdb
!**/*.rules
!**/*.lib
!**/*.mod
!**/*.sch
!**/*.pro
!**/*.dxf
*.uvprojx
